
.holder {
  width: 500px;
  height: 500px;
  background-color: grey;
  margin: auto;
}

#canvas {
  width: 500px;
  height: 500px;
}

.desc {
  text-align: center;
  width: 500px;
  margin: auto;
}

.holder.hover {
 background-color: green;
}
